{% extends 'layout.html' %} 
{% block content %}
<br>

<div class="container justify-content-center" style="width: 18rem;">
  Account Details
  <br>
  <br>
      <h5>Name : </h5>
      <h3>{{current_user.full_name}}</h3>
      <hr>
      <h5>Registered Email Id : </h5>
      <h3>{{current_user.email}}</h3>
      <hr>
      <h5>Role : </h5>
      {% if current_user.role == 1 %}
      <h3>Service consumer</h3>
      {% else %}
      <h3>Service provider</h3>
      {% endif %}
  </div>
{% endblock %}