{% extends 'layout.html' %}
{% block content %}
<div class="form-input">
  <form method="POST" action="" class="login-form" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    
      <fieldset class="form-group">
        <legend class="mb-4">Update Account Details</legend>
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        <br>
        {% if form.email.errors %}
        {{ form.email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </div>
        {% else %}
        {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      
      <div class="form-group">
        {{ form.full_name.label(class="form-control-label") }}
        <br>
        {% if form.full_name.errors %}
        {{ form.full_name(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
        {% for error in form.full_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </div>
        {% else %}
        {{ form.full_name(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.contact.label(class="form-control-label") }}
        <br>
        {% if form.contact.errors %}
        {{ form.contact(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
        {% for error in form.contact.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </div>
        {% else %}
        {{ form.contact(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      
      
      <div class="form-group">
        {{ form.service_description.label(class="form-control-label") }}
        <br>
        {% if form.service_description.errors %}
        {{ form.service_description(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
        {% for error in form.service_description.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </div>
        {% else %}
        {{ form.service_description(class="form-control form-control-lg") }}
        {% endif %}
      </div>
     

      <div class="form-group">
        {{ form.address.label(class="form-control-label") }}
        <br>
        {% if form.address.errors %}
        {{ form.address(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
        {% for error in form.address.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </div>
        {% else %}
        {{ form.address(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.pincode.label(class="form-control-label") }}
        <br>
        {% if form.pincode.errors %}
        {{ form.pincode(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
        {% for error in form.pincode.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        </div>
        {% else %}
        {{ form.pincode(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
    
  </div>
{% endblock %}